body
{
	background-color: #EEEEEE;
}
#frame 
{
	width:800px;
	margin-right:auto;
	margin-left:auto;
}
.shadow
{
    background-color: darkgray;
}
.shadowcontent
{
    position: relative;
    top: -5px;
    left: -5px;
    padding: 0px;
	background-color: white;
	border: 1px solid black;
}
#header
{
	text-align: center;
	padding-left: 10px;
}
#content
{
	text-align: left;
	padding: 10px;
}
#footer
{
    width: 100%;
    text-align: center;
    font-size: smaller;
}

body 
{
}
H1
{
	text-align: center;
}
H2
{
    margin-left: 2%;
}
H3
{
    margin-left: 4%;
}
B
{

}
.h2body
{
    margin-left: 4%;
}
.h3body
{
    margin-left: 6%;
}
.screenshot
{
    text-align: center;
}
a
{
    text-decoration: none;
}
.run
{
    font-family: Comic Sans MS;
    font-weight: bold;
    color: maroon;
    font-style: italic;
}
.pp
{
    font-weight: bold;
    color: green;
    font-style: italic;
    font-family: 'Comic Sans MS';
}

