<configuration>
    <system.web>
       <!-- <httpHandlers>
           <add verb="*" path="*.cs,*.xml" 
                type="CodeHtmler.CodeHtmlerHttpHandler,CodeHtmler" /> 
        </httpHandlers>
        <customErrors mode="Off"/>
        <compilation debug="true"/>-->
    </system.web>
</configuration>